.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.App-container {
  display: flex;
  border: 5px solid cyan;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}


